# Phase 1 Start --->

In the Phase 1 we start to webscraping the data to make data more authentic and relevant

We Scrape the data from different sites.

There are websites like **Wikipedia**, **Cyberjounralist**,

**Area 2001 Links-** https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area
                    
**Census 2001 Link-** http://cyberjournalist.org.in/census/cenindia.html

**Census 2011 Link-** https://en.wikipedia.org/wiki/2011_census_of_India

**Literacy Rate 2001 Link-** http://cyberjournalist.org.in/census/cenlit0.html

# Importing Libraries for Webscrapping

In [1]:
# importing necessary libraries
import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.common.by import By
import time

# Area 2001

In [2]:
# opening chrome via webdriver
driver=webdriver.Chrome()

In [3]:
# getting link of area
driver.get('https://en.wikipedia.org/wiki/List_of_states_and_union_territories_of_India_by_area')

In [4]:
# Adding COlumns Name
state_name=[]
area=[]
region=[]

In [5]:
state=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[2]/a')
for i in state:
    state_n=i.text
    state_name.append(state_n)

areaa=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[3]')
for i in areaa:
    ar=i.text
    area.append(ar)
    area=area[0:36]

reg=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[2]/tbody/tr/td[4]/a')
for i in reg:
    rg=i.text
    region.append(rg)

In [6]:
# Making dataframe of collected data
area_of_state=pd.DataFrame({'State':state_name,'Area':area,'Region':region})

In [7]:
area_of_state

                                       State               Area         Region
0                                  Rajasthan            342,239        Western
1                             Madhya Pradesh            308,252        Central
2                                Maharashtra            307,713        Western
3                              Uttar Pradesh            240,928       Northern
4                                    Gujarat            196,024        Western
5                                  Karnataka            191,791       Southern
6                             Andhra Pradesh            162,975       Southern
7                                     Odisha            155,707        Eastern
8                               Chhattisgarh            135,192        Central
9                                 Tamil Nadu            130,058       Southern
10                                 Telangana            112,077       Southern
11                                     Bihar             94,163        Eastern
12                               West Bengal             88,752        Eastern
13                         Arunachal Pradesh             83,743   Northeastern
14                                 Jharkhand             79,716        Eastern
15                                     Assam             78,438   Northeastern
16                                    Ladakh  59,146\n(166,698)       Northern
17                          Himachal Pradesh             55,673       Northern
18                               Uttarakhand             53,483       Northern
19                                    Punjab             50,362       Northern
20                                   Haryana             44,212       Northern
21                         Jammu and Kashmir   42,241\n(55,538)       Northern
22                                    Kerala             38,863       Southern
23                                 Meghalaya             22,429   Northeastern
24                                   Manipur             22,327   Northeastern
25                                   Mizoram             21,081   Northeastern
26                                  Nagaland             16,579   Northeastern
27                                   Tripura             10,491   Northeastern
28               Andaman and Nicobar Islands              8,249  Bay of Bengal
29                                    Sikkim              7,096   Northeastern
30                                       Goa              3,702        Western
31          National Capital Territory–Delhi              1,484       Northern
32  Dadra and Nagar Haveli and Daman and Diu                603        Western
33                                Puducherry                479       Southern
34                                Chandigarh                114       Northern
35                               Lakshadweep                 32    Arabian Sea

In [8]:
area_of_state.to_csv('area_of_state.csv')

# Census 2001

In [9]:
driver=webdriver.Chrome()

In [10]:
driver.get('http://cyberjournalist.org.in/census/cenindia.html')

In [11]:
State=[]
population=[]
male_popu=[]
female_popu=[]

In [12]:
states=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[2]/font/font')
for i in states:
    stat=i.text
    State.append(stat)

In [13]:
popul=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[3]/font/font')
for i in popul:
    pop=i.text
    population.append(pop)

In [14]:
male=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[4]/font/font')
for i in male:
    malee=i.text
    male_popu.append(malee)

In [15]:
female=driver.find_elements(By.XPATH,'/html/body/center/table/tbody/tr/td[5]/font/font')
for i in female:
    fem=i.text
    female_popu.append(fem)

In [16]:
len(female_popu)

36

In [17]:
# Making dataframe of collected data
population=pd.DataFrame({'State':State,'Population':population,'Male':
                        male_popu,'Female':female_popu})

In [18]:
population

                         State  Population       Male     Female
0            Jammu and Kashmir    10069917    5300574    4769343
1             Himachal Pradesh     6077248    3085256    2991992
2                       Punjab    24289296   12963362   11325934
3                   Chandigarh      900914     508224     392690
4                  Uttaranchal     8479562    4316401    4163161
5                      Haryana    21082989   11327658    9755331
6                        Delhi    13782976    7570890    6212086
7                    Rajasthan    56473122   29381657   27091465
8                Uttar Pradesh   166052859   87466301   78586558
9                        Bihar    82878796   43153964   39724832
10                      Sikkim      540493     288217     252276
11           Arunachal Pradesh     1091117     573951     517166
12                    Nagaland     1988636    1041686     946950
13                     Manipur     2388634    1207338    1181296
14                     Mizoram      891058     459783     431275
15                     Tripura     3191168    1636138    1555030
16                   Meghalaya     2306069    1167840    1138229
17                       Assam    26638407   13787799   12850608
18                 West Bengal    80221171   41487694   38733477
19                   Jharkhand    26909428   13861277   13048151
20                      Orissa    36706920   18612340   18094580
21                 Chhatisgarh    20795956   10452426   10343530
22              Madhya Pradesh    60385118   31456873   28928245
23                     Gujarat    50596992   26344053   24252939
24                 Daman & Diu      158059      92478      65581
25        Dadra & Nagar Haveli      220451     121731      98720
26                 Maharashtra    96752247   50334270   46417977
27              Andhra Pradesh    75727541   38286811   37440730
28                   Karnataka    52733958   26856343   25877615
29                         Goa     1343998     685617     658381
30                 Lakshadweep       60595      31118      29477
31                      Kerala    31838619   15468664   16369955
32                  Tamil Nadu    62110839   31268654   30842185
33                 Pondicherry      973829     486705     487124
34  Andaman & Nicobar Islands*      356265     192985     163280
35                INDIA Total   1027015247  531277078  495738169

In [19]:
population.to_csv('population.csv')

# Census 2011

In [20]:
driver=webdriver.Chrome()

In [21]:
# Census 2011
State=[]
Total_Population=[]
Males=[]
Females=[]
Literacy=[]
Area=[]
Decade_Growth=[]

In [22]:
driver.get('https://en.wikipedia.org/wiki/2011_census_of_India')

In [23]:
state=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[2]/a')
for i in state:
    stat=i.text
    State.append(stat)

total=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[5]')
for i in total:
    tot=i.text
    Total_Population.append(tot)

male=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[7]')
for i in male:
    males=i.text
    Males.append(males)

female=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[8]')
for i in female:
    fem=i.text
    Females.append(fem)

literacy=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[10]/div/div[2]')
for i in literacy:
    liter=i.text
    Literacy.append(liter)

area=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[13]')
for i in area:
    areaa=i.text
    Area.append(areaa)

decade=driver.find_elements(By.XPATH,'/html/body/div[2]/div/div[3]/main/div[3]/div[3]/div[1]/table[6]/tbody/tr/td[15]')
for i in decade:
    decc=i.text
    Decade_Growth.append(decc)

In [24]:
# Making dataframe of collected data
census2011=pd.DataFrame({'State':State,'Total Population':Total_Population,'Males':Males,'Females':Females,
                         'Literacy':Literacy,'Area':Area,'Decade_Growth 2001-11':Decade_Growth})

In [25]:
census2011.to_csv('census2011.csv')

# Literycay Rate 2001

In [26]:
driver=webdriver.Chrome()

In [27]:
driver.get('http://cyberjournalist.org.in/census/cenlit0.html')

In [28]:
State_litercay2001=[]
Total_litercay2001=[]
Males_Literacy2001=[]
Females_Literacy2001=[]

In [29]:
state=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[2]/font/font')
for i in state:
    stat=i.text
    State_litercay2001.append(stat)

total=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[3]/font/font')
for i in total:
    totall=i.text
    Total_litercay2001.append(totall)

males=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[4]/font/font')
for i in males:
    male=i.text
    Males_Literacy2001.append(male)

females=driver.find_elements(By.XPATH,'/html/body/center[2]/table/tbody/tr/td[5]/font/font')
for i in females:
    female=i.text
    Females_Literacy2001.append(female)

In [31]:
# Making dataframe of collected data
Literacy_Rate_2001=pd.DataFrame({'State':State_litercay2001,'Total_litercay2001':Total_litercay2001,'Males_Literacy2001':Males_Literacy2001,
                                'Females_Literacy2001':Females_Literacy2001})

In [32]:
Literacy_Rate_2001.to_csv('Literacy_Rate_2001.csv')

# MERGING

In [33]:
census2001 = pd.merge(pd.merge(pd.read_csv('Literacy_Rate_2001.csv'), pd.read_csv('population.csv'), on='State', how='left'), pd.read_csv('area_of_state.csv'), on='State', how='left')

In [34]:
census2001

,Unnamed: 0_x,State,Total_litercay2001,Males_Literacy2001,Females_Literacy2001,Unnamed: 0_y,Population,Male,Female,Unnamed: 0,Area,Region
0,0,India / States / Union Territories,Persons,Males,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,INDIA,65.38,75.85,54.16,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Jammu and Kashmir,54.46,65.75,41.82,0.0,10069917.0,5300574.0,4769343.0,21.0,"42,241\n(55,538)",Northern
3,3,Himachal Pradesh,77.13,86.02,68.08,1.0,6077248.0,3085256.0,2991992.0,17.0,"55,673",Northern
4,4,Punjab,69.95,75.63,63.55,2.0,24289296.0,12963362.0,11325934.0,19.0,"50,362",Northern
5,5,Chandigarh,81.76,85.65,76.65,3.0,900914.0,508224.0,392690.0,34.0,114,Northern
6,6,Uttaranchal,72.28,84.01,60.26,4.0,8479562.0,4316401.0,4163161.0,NaN,NaN,NaN
7,7,Haryana,68.59,79.25,56.31,5.0,21082989.0,11327658.0,9755331.0,20.0,"44,212",Northern
8,8,Delhi,81.82,87.37,75.00,6.0,13782976.0,7570890.0,6212086.0,NaN,NaN,NaN
9,9,Rajasthan,61.03,76.46,44.34,7.0,56473122.0,29381657.0,27091465.0,0.0,"342,239",Western
10,10,Uttar Pradesh,57.36,70.23,42.98,8.0,166052859.0,87466301.0,78586558.0,3.0,"240,928",Northern
11,11,Bihar,47.53,60.32,33.57,9.0,82878796.0,43153964.0,39724832.0,11.0,"94,163",Eastern
12,12,Sikkim,69.68,76.73,61.46,10.0,540493.0,288217.0,252276.0,29.0,"7,096",Northeastern
13,13,Arunachal Pradesh,54.74,64.07,44.24,11.0,1091117.0,573951.0,517166.0,13.0,"83,743",Northeastern
14,14,Nagaland,67.11,71.77,61.92,12.0,1988636.0,1041686.0,946950.0,26.0,"16,579",Northeastern
15,15,Manipur,68.87,77.87,59.70,13.0,2388634.0,1207338.0,1181296.0,24.0,"22,327",Northeastern
16,16,Mizoram,88.49,90.69,86.13,14.0,891058.0,459783.0,431275.0,25.0,"21,081",Northeastern
17,17,Tripura,73.66,81.47,65.41,15.0,3191168.0,1636138.0,1555030.0,27.0,"10,491",Northeastern
18,18,Meghalaya,63.31,66.14,60.41,16.0,2306069.0,1167840.0,1138229.0,23.0,"22,429",Northeastern
19,19,Assam,64.28,71.93,56.03,17.0,26638407.0,13787799.0,12850608.0,15.0,"78,438",Northeastern
20,20,West Bengal,69.22,77.58,60.22,18.0,80221171.0,41487694.0,38733477.0,12.0,"88,752",Eastern
21,21,Jharkhand,54.13,67.94,39.38,19.0,26909428.0,13861277.0,13048151.0,14.0,"79,716",Eastern
22,22,Orissa,63.61,75.95,50.97,20.0,36706920.0,18612340.0,18094580.0,NaN,NaN,NaN
23,23,Chhatisgarh,65.18,77.86,52.40,21.0,20795956.0,10452426.0,10343530.0,NaN,NaN,NaN
24,24,Madhya Pradesh,64.11,76.80,50.28,22.0,60385118.0,31456873.0,28928245.0,1.0,"308,252",Central
25,25,Gujarat,69.97,80.50,58.60,23.0,50596992.0,26344053.0,24252939.0,4.0,"196,024",Western
26,26,Daman & Diu,81.09,88.40,70.37,24.0,158059.0,92478.0,65581.0,NaN,NaN,NaN
27,27,Dadra & Nagar Haveli,60.03,73.32,42.99,25.0,220451.0,121731.0,98720.0,NaN,NaN,NaN
28,28,Maharashtra,77.27,86.27,67.51,26.0,96752247.0,50334270.0,46417977.0,2.0,"307,713",Western
29,29,Andhra Pradesh,61.11,70.85,51.17,27.0,75727541.0,38286811.0,37440730.0,6.0,"162,975",Southern
30,30,Karnataka,67.04,76.29,57.45,28.0,52733958.0,26856343.0,25877615.0,5.0,"191,791",Southern
31,31,Goa,82.32,88.88,75.51,29.0,1343998.0,685617.0,658381.0,30.0,"3,702",Western
32,32,Lakshadweep,87.52,93.15,81.56,30.0,60595.0,31118.0,29477.0,35.0,32,Arabian Sea
33,33,Kerala,90.92,94.20,87.86,31.0,31838619.0,15468664.0,16369955.0,22.0,"38,863",Southern
34,34,Tamil Nadu,73.47,82.33,64.55,32.0,62110839.0,31268654.0,30842185.0,9.0,"130,058",Southern
35,35,Pondicherry,81.49,88.89,74.13,33.0,973829.0,486705.0,487124.0,NaN,NaN,NaN
36,36,Andaman & Nicobar Islands*,81.18,86.07,75.29,34.0,356265.0,192985.0,163280.0,NaN,NaN,NaN
37,37,India / States / Union Territories,Persons,Males,Females,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
# droping unused column
census2001.drop(columns=['Unnamed: 0_x','Unnamed: 0_y'],inplace=True)

In [36]:
census2001. to_csv('census2001.csv')

In [37]:
census2001

,State,Total_litercay2001,Males_Literacy2001,Females_Literacy2001,Population,Male,Female,Unnamed: 0,Area,Region
0,India / States / Union Territories,Persons,Males,Females,NaN,NaN,NaN,NaN,NaN,NaN
1,INDIA,65.38,75.85,54.16,NaN,NaN,NaN,NaN,NaN,NaN
2,Jammu and Kashmir,54.46,65.75,41.82,10069917.0,5300574.0,4769343.0,21.0,"42,241\n(55,538)",Northern
3,Himachal Pradesh,77.13,86.02,68.08,6077248.0,3085256.0,2991992.0,17.0,"55,673",Northern
4,Punjab,69.95,75.63,63.55,24289296.0,12963362.0,11325934.0,19.0,"50,362",Northern
5,Chandigarh,81.76,85.65,76.65,900914.0,508224.0,392690.0,34.0,114,Northern
6,Uttaranchal,72.28,84.01,60.26,8479562.0,4316401.0,4163161.0,NaN,NaN,NaN
7,Haryana,68.59,79.25,56.31,21082989.0,11327658.0,9755331.0,20.0,"44,212",Northern
8,Delhi,81.82,87.37,75.00,13782976.0,7570890.0,6212086.0,NaN,NaN,NaN
9,Rajasthan,61.03,76.46,44.34,56473122.0,29381657.0,27091465.0,0.0,"342,239",Western
10,Uttar Pradesh,57.36,70.23,42.98,166052859.0,87466301.0,78586558.0,3.0,"240,928",Northern
11,Bihar,47.53,60.32,33.57,82878796.0,43153964.0,39724832.0,11.0,"94,163",Eastern
12,Sikkim,69.68,76.73,61.46,540493.0,288217.0,252276.0,29.0,"7,096",Northeastern
13,Arunachal Pradesh,54.74,64.07,44.24,1091117.0,573951.0,517166.0,13.0,"83,743",Northeastern
14,Nagaland,67.11,71.77,61.92,1988636.0,1041686.0,946950.0,26.0,"16,579",Northeastern
15,Manipur,68.87,77.87,59.70,2388634.0,1207338.0,1181296.0,24.0,"22,327",Northeastern
16,Mizoram,88.49,90.69,86.13,891058.0,459783.0,431275.0,25.0,"21,081",Northeastern
17,Tripura,73.66,81.47,65.41,3191168.0,1636138.0,1555030.0,27.0,"10,491",Northeastern
18,Meghalaya,63.31,66.14,60.41,2306069.0,1167840.0,1138229.0,23.0,"22,429",Northeastern
19,Assam,64.28,71.93,56.03,26638407.0,13787799.0,12850608.0,15.0,"78,438",Northeastern
20,West Bengal,69.22,77.58,60.22,80221171.0,41487694.0,38733477.0,12.0,"88,752",Eastern
21,Jharkhand,54.13,67.94,39.38,26909428.0,13861277.0,13048151.0,14.0,"79,716",Eastern
22,Orissa,63.61,75.95,50.97,36706920.0,18612340.0,18094580.0,NaN,NaN,NaN
23,Chhatisgarh,65.18,77.86,52.40,20795956.0,10452426.0,10343530.0,NaN,NaN,NaN
24,Madhya Pradesh,64.11,76.80,50.28,60385118.0,31456873.0,28928245.0,1.0,"308,252",Central
25,Gujarat,69.97,80.50,58.60,50596992.0,26344053.0,24252939.0,4.0,"196,024",Western
26,Daman & Diu,81.09,88.40,70.37,158059.0,92478.0,65581.0,NaN,NaN,NaN
27,Dadra & Nagar Haveli,60.03,73.32,42.99,220451.0,121731.0,98720.0,NaN,NaN,NaN
28,Maharashtra,77.27,86.27,67.51,96752247.0,50334270.0,46417977.0,2.0,"307,713",Western
29,Andhra Pradesh,61.11,70.85,51.17,75727541.0,38286811.0,37440730.0,6.0,"162,975",Southern
30,Karnataka,67.04,76.29,57.45,52733958.0,26856343.0,25877615.0,5.0,"191,791",Southern
31,Goa,82.32,88.88,75.51,1343998.0,685617.0,658381.0,30.0,"3,702",Western
32,Lakshadweep,87.52,93.15,81.56,60595.0,31118.0,29477.0,35.0,32,Arabian Sea
33,Kerala,90.92,94.20,87.86,31838619.0,15468664.0,16369955.0,22.0,"38,863",Southern
34,Tamil Nadu,73.47,82.33,64.55,62110839.0,31268654.0,30842185.0,9.0,"130,058",Southern
35,Pondicherry,81.49,88.89,74.13,973829.0,486705.0,487124.0,NaN,NaN,NaN
36,Andaman & Nicobar Islands*,81.18,86.07,75.29,356265.0,192985.0,163280.0,NaN,NaN,NaN
37,India / States / Union Territories,Persons,Males,Females,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:
census2001=census2001.iloc[2:-1,:]

In [39]:
census2001

,State,Total_litercay2001,Males_Literacy2001,Females_Literacy2001,Population,Male,Female,Unnamed: 0,Area,Region
2,Jammu and Kashmir,54.46,65.75,41.82,10069917.0,5300574.0,4769343.0,21.0,"42,241\n(55,538)",Northern
3,Himachal Pradesh,77.13,86.02,68.08,6077248.0,3085256.0,2991992.0,17.0,"55,673",Northern
4,Punjab,69.95,75.63,63.55,24289296.0,12963362.0,11325934.0,19.0,"50,362",Northern
5,Chandigarh,81.76,85.65,76.65,900914.0,508224.0,392690.0,34.0,114,Northern
6,Uttaranchal,72.28,84.01,60.26,8479562.0,4316401.0,4163161.0,NaN,NaN,NaN
7,Haryana,68.59,79.25,56.31,21082989.0,11327658.0,9755331.0,20.0,"44,212",Northern
8,Delhi,81.82,87.37,75.00,13782976.0,7570890.0,6212086.0,NaN,NaN,NaN
9,Rajasthan,61.03,76.46,44.34,56473122.0,29381657.0,27091465.0,0.0,"342,239",Western
10,Uttar Pradesh,57.36,70.23,42.98,166052859.0,87466301.0,78586558.0,3.0,"240,928",Northern
11,Bihar,47.53,60.32,33.57,82878796.0,43153964.0,39724832.0,11.0,"94,163",Eastern
12,Sikkim,69.68,76.73,61.46,540493.0,288217.0,252276.0,29.0,"7,096",Northeastern
13,Arunachal Pradesh,54.74,64.07,44.24,1091117.0,573951.0,517166.0,13.0,"83,743",Northeastern
14,Nagaland,67.11,71.77,61.92,1988636.0,1041686.0,946950.0,26.0,"16,579",Northeastern
15,Manipur,68.87,77.87,59.70,2388634.0,1207338.0,1181296.0,24.0,"22,327",Northeastern
16,Mizoram,88.49,90.69,86.13,891058.0,459783.0,431275.0,25.0,"21,081",Northeastern
17,Tripura,73.66,81.47,65.41,3191168.0,1636138.0,1555030.0,27.0,"10,491",Northeastern
18,Meghalaya,63.31,66.14,60.41,2306069.0,1167840.0,1138229.0,23.0,"22,429",Northeastern
19,Assam,64.28,71.93,56.03,26638407.0,13787799.0,12850608.0,15.0,"78,438",Northeastern
20,West Bengal,69.22,77.58,60.22,80221171.0,41487694.0,38733477.0,12.0,"88,752",Eastern
21,Jharkhand,54.13,67.94,39.38,26909428.0,13861277.0,13048151.0,14.0,"79,716",Eastern
22,Orissa,63.61,75.95,50.97,36706920.0,18612340.0,18094580.0,NaN,NaN,NaN
23,Chhatisgarh,65.18,77.86,52.40,20795956.0,10452426.0,10343530.0,NaN,NaN,NaN
24,Madhya Pradesh,64.11,76.80,50.28,60385118.0,31456873.0,28928245.0,1.0,"308,252",Central
25,Gujarat,69.97,80.50,58.60,50596992.0,26344053.0,24252939.0,4.0,"196,024",Western
26,Daman & Diu,81.09,88.40,70.37,158059.0,92478.0,65581.0,NaN,NaN,NaN
27,Dadra & Nagar Haveli,60.03,73.32,42.99,220451.0,121731.0,98720.0,NaN,NaN,NaN
28,Maharashtra,77.27,86.27,67.51,96752247.0,50334270.0,46417977.0,2.0,"307,713",Western
29,Andhra Pradesh,61.11,70.85,51.17,75727541.0,38286811.0,37440730.0,6.0,"162,975",Southern
30,Karnataka,67.04,76.29,57.45,52733958.0,26856343.0,25877615.0,5.0,"191,791",Southern
31,Goa,82.32,88.88,75.51,1343998.0,685617.0,658381.0,30.0,"3,702",Western
32,Lakshadweep,87.52,93.15,81.56,60595.0,31118.0,29477.0,35.0,32,Arabian Sea
33,Kerala,90.92,94.20,87.86,31838619.0,15468664.0,16369955.0,22.0,"38,863",Southern
34,Tamil Nadu,73.47,82.33,64.55,62110839.0,31268654.0,30842185.0,9.0,"130,058",Southern
35,Pondicherry,81.49,88.89,74.13,973829.0,486705.0,487124.0,NaN,NaN,NaN
36,Andaman & Nicobar Islands*,81.18,86.07,75.29,356265.0,192985.0,163280.0,NaN,NaN,NaN

In [40]:
census2001.index-=1

In [41]:
census2001

,State,Total_litercay2001,Males_Literacy2001,Females_Literacy2001,Population,Male,Female,Unnamed: 0,Area,Region
1,Jammu and Kashmir,54.46,65.75,41.82,10069917.0,5300574.0,4769343.0,21.0,"42,241\n(55,538)",Northern
2,Himachal Pradesh,77.13,86.02,68.08,6077248.0,3085256.0,2991992.0,17.0,"55,673",Northern
3,Punjab,69.95,75.63,63.55,24289296.0,12963362.0,11325934.0,19.0,"50,362",Northern
4,Chandigarh,81.76,85.65,76.65,900914.0,508224.0,392690.0,34.0,114,Northern
5,Uttaranchal,72.28,84.01,60.26,8479562.0,4316401.0,4163161.0,NaN,NaN,NaN
6,Haryana,68.59,79.25,56.31,21082989.0,11327658.0,9755331.0,20.0,"44,212",Northern
7,Delhi,81.82,87.37,75.00,13782976.0,7570890.0,6212086.0,NaN,NaN,NaN
8,Rajasthan,61.03,76.46,44.34,56473122.0,29381657.0,27091465.0,0.0,"342,239",Western
9,Uttar Pradesh,57.36,70.23,42.98,166052859.0,87466301.0,78586558.0,3.0,"240,928",Northern
10,Bihar,47.53,60.32,33.57,82878796.0,43153964.0,39724832.0,11.0,"94,163",Eastern
11,Sikkim,69.68,76.73,61.46,540493.0,288217.0,252276.0,29.0,"7,096",Northeastern
12,Arunachal Pradesh,54.74,64.07,44.24,1091117.0,573951.0,517166.0,13.0,"83,743",Northeastern
13,Nagaland,67.11,71.77,61.92,1988636.0,1041686.0,946950.0,26.0,"16,579",Northeastern
14,Manipur,68.87,77.87,59.70,2388634.0,1207338.0,1181296.0,24.0,"22,327",Northeastern
15,Mizoram,88.49,90.69,86.13,891058.0,459783.0,431275.0,25.0,"21,081",Northeastern
16,Tripura,73.66,81.47,65.41,3191168.0,1636138.0,1555030.0,27.0,"10,491",Northeastern
17,Meghalaya,63.31,66.14,60.41,2306069.0,1167840.0,1138229.0,23.0,"22,429",Northeastern
18,Assam,64.28,71.93,56.03,26638407.0,13787799.0,12850608.0,15.0,"78,438",Northeastern
19,West Bengal,69.22,77.58,60.22,80221171.0,41487694.0,38733477.0,12.0,"88,752",Eastern
20,Jharkhand,54.13,67.94,39.38,26909428.0,13861277.0,13048151.0,14.0,"79,716",Eastern
21,Orissa,63.61,75.95,50.97,36706920.0,18612340.0,18094580.0,NaN,NaN,NaN
22,Chhatisgarh,65.18,77.86,52.40,20795956.0,10452426.0,10343530.0,NaN,NaN,NaN
23,Madhya Pradesh,64.11,76.80,50.28,60385118.0,31456873.0,28928245.0,1.0,"308,252",Central
24,Gujarat,69.97,80.50,58.60,50596992.0,26344053.0,24252939.0,4.0,"196,024",Western
25,Daman & Diu,81.09,88.40,70.37,158059.0,92478.0,65581.0,NaN,NaN,NaN
26,Dadra & Nagar Haveli,60.03,73.32,42.99,220451.0,121731.0,98720.0,NaN,NaN,NaN
27,Maharashtra,77.27,86.27,67.51,96752247.0,50334270.0,46417977.0,2.0,"307,713",Western
28,Andhra Pradesh,61.11,70.85,51.17,75727541.0,38286811.0,37440730.0,6.0,"162,975",Southern
29,Karnataka,67.04,76.29,57.45,52733958.0,26856343.0,25877615.0,5.0,"191,791",Southern
30,Goa,82.32,88.88,75.51,1343998.0,685617.0,658381.0,30.0,"3,702",Western
31,Lakshadweep,87.52,93.15,81.56,60595.0,31118.0,29477.0,35.0,32,Arabian Sea
32,Kerala,90.92,94.20,87.86,31838619.0,15468664.0,16369955.0,22.0,"38,863",Southern
33,Tamil Nadu,73.47,82.33,64.55,62110839.0,31268654.0,30842185.0,9.0,"130,058",Southern
34,Pondicherry,81.49,88.89,74.13,973829.0,486705.0,487124.0,NaN,NaN,NaN
35,Andaman & Nicobar Islands*,81.18,86.07,75.29,356265.0,192985.0,163280.0,NaN,NaN,NaN

In [42]:
# Making CSV file of what we have collected
census2001.to_csv('Census_2001.csv')